<h1 style='color:red;text-align:center'>Demographic Analyzer</h1>

You must use Pandas to answer the following questions:

1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

2. What is the average age of men?

3. What is the percentage of people who have a Bachelor's degree?

4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

5. What percentage of people without advanced education make more than 50K?

6. What is the minimum number of hours a person works per week?

7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

8. What country has the highest percentage of people that earn >50K and what is that percentage?

9. Identify the most popular occupation for those who earn >50K in India.

*Use the starter code in the file demographic_data_analyzer. Update the code so all variables set to "None" are set to the appropriate calculation or code. Round all decimals to the nearest tenth.*

In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
df.shape

(32561, 15)

In [3]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

### (1) How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [4]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### (2) What is the average age of men?

In [23]:
avg_age = round(df[df['sex'] == 'Male']['age'].mean(),2)
avg_age

39.43

### (3) What is the percentage of people who have a Bachelor's degree?

In [85]:
bachelor = round(df[df['education'] == 'Bachelors'].value_counts().sum() / df.shape[0] * 100, 2)
print('The percentage of Bachelor\'s degree:',bachelor,'%')

The percentage of Bachelor's degree: 16.45 %

### (4) What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [74]:
ed1  = df['education'].isin(['Bachelors', 'Masters','Doctorate'])
ed2 = df['salary'] == '>50K'

In [84]:
adv_edu = round((ed1 & ed2).sum() / ed1.sum() * 100, 2)
print('Advanced Education: ',adv_edu,'%')

Advanced Education:  46.54 %

### (5) What percentage of people without advanced education make more than 50K?

In [90]:
w_adv_edu = round((~ed1 & ed2).sum() / (~ed1).sum() * 100, 2)
print('Without advanced education:',w_adv_edu,'%')

Without advanced education: 17.37 %

### (6) What is the minimum number of hours a person works per week?

In [134]:
min_wh = df['hours-per-week'].min()
print('Minium number of hour is: ',min_wh, 'hour.')

Minium number of hour is:  1 hour.

### (7) What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [185]:
min_wh1 = df['hours-per-week'] == min_wh
s50k = df['salary'] == '>50K'

(min_wh1 & s50k).sum() / min_wh1.sum() * 100

10.0

### (8) What country has the highest percentage of people that earn >50K and what is that percentage?

In [184]:
hpc = round(df[s50k]['native-country'].value_counts() / df['native-country'].value_counts() *100, 2).sort_values(ascending=False)
highest_country = hpc.index[0]
highest_percentage = hpc.iloc[0]

print(highest_country)
print(highest_percentage)

Iran
41.86

### (9) Identify the most popular occupation for those who earn >50K in India.

In [254]:
india = df['native-country'] == 'India'
s50k = df['salary'] == '>50K'

df[india & s50k]['occupation'].value_counts().index[0]

'Prof-specialty'